@media only screen  and (min-width: 769px) {

	.foot_type_container{

	 
	  width: 281px;


	}

	.foot_type_container:nth-child(4n+1){
	 clear: none;
	}

	.foot_type_container:nth-child(3n+1){
  			clear: both;
	}
		

}
