@media only screen  and (min-width: 769px) and (max-width: 992px) {

	.foot_type_container{

	 
	  width: 33%;


	}

	.foot_type_container:nth-child(4n+1){
	 clear: none;
	}

	.foot_type_container:nth-child(3n+1){
  			clear: both;
	}
	.foot_type_container:nth-child(3n) .home_tile{
	  margin-right: 0px;
	}

}
