 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 p,h1,h2,h3,h4,h5,h6{
  margin:0px;
 }
 .clear{
  clear: both;
 }
button{
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
    background: #f0f0f0;
  border:solid 1px #fff
}
ul{
  padding: 0px;
}
.container{

}
#navigation .container{
  padding-top:0px;
}
 .disabled{
  color: #999 !important;
 } 
 textarea:focus,
 input,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
  border:none;
} 
.error_block{
  color:red;
  font-size: 12px;
  font-style: italic; 
  display: none;
  color: #fff;
}
.error{
  display: block;
  color: #f00;
  border-color: red;
}
 .g_marker{
  background: #ccc;
 } 
 .working{
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 ,0,0,0.5);
   display:table-cell; 
   vertical-align:middle; 
   text-align:center; 
 } 
 .working img{
  padding-top: 50px;
 }
 .button_search{
  padding: 0;
  font-weight: bold;
border:none;
background:rgba(255,255,255,0.95);
}
#main_map{
  height: 300px;
  width: 100%;
  position: relative;
}
#list_map{
    height: 300px;
  width: 100%;
  position: relative;

}
#map {
      height: 100%;
      width: 100%;
      top:0;
      left: 0px;
              position: absolute;
    }


/************ Navigation Css **************/
#navigation{
  background-color: #E66C82;
  padding: 15px 0px 15px 0px;
}    
#header_search{
  position: relative;
  padding: 0px 39px 0px 34px;
}
#header_search input{
  border:none;
  padding: 10px 10px;

}
#header_search #find_truck{
 background:rgba(255,255,255,0.95);
  color: red;
  position: absolute;
  right: 0;
  padding: 3px;
  border-radius: 0px 4px 4px 0px  ;
  cursor:pointer;
}


#header_search .location{
 background:rgba(255,255,255,0.95);
  position: absolute;
  left: 0;
  color:red;
  padding: 3px;
  border-radius: 4px 0px 0px 4px;
  cursor:pointer;
}
#header_search .location:hover,#header_search #find_truck:hover{

  background:rgba(0,0,0,0.5);
}
#header_search .location i,#header_search #find_truck i{
padding: 10px;
}
#header_search .location img{

  cursor: pointer;

}

#locationSelect{
  position: absolute;
}
/********* Mobile Niva *******/
#mobile_nav{
  padding: 0px 15px;
  border-bottom:ridge 1px #ccc;
}

/************** Main Section ************/

#location_section{
  margin-top: 10px;
}



/***** Side Bar For Locations**********/
#lisings{
  padding: 10px;
    border: solid 1px #ccc;
  border-top: none;
}
.location_results_count{
  background: #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px #ccc;
  border-bottom: none;
}

.location_current_count{
  padding: 5px 15px;
}
.location_results_pagination ul{
  float: right;
}
.single_listing{
  margin: 0px 0px 10px 0px;
  padding:10px 0px 20px 0px;
  border-bottom: solid 1px #ccc;
}
.single_listing:last-child{
 border-bottom:none;
 margin-bottom: 0px; 
 padding-bottom: 10px;
}
.location_results_pagination ul{
  margin: 0px;
}
.location_results_pagination ul li{
  display: block;
  float: left;
}
.location_results_pagination .next,.location_results_pagination .prev{
  color: #E66C82;
  margin: 0px 5px;
}
.location_results_pagination .count{
  font-size: 16px;
  font-weight: bold;
  padding-top: 3px;
}
.listing_image{
padding-left: 0px;
}
.listing_images{
  margin:2px;
  padding: 3px;
  border:solid 1px #ccc;
  border-radius: 5px; 
  width: 48%;
  float: left;
}
.listing_images img{
  border-radius: 3px; 
  width: 100%;
}
/* @ added ny Urvashi*/


 .listing_title h2{
    color: #e66c82;
    padding: 10px 0px;
}
.rating {
    direction: rtl;
    font-size: 20px;
    unicode-bidi: bidi-override;
}

.interiorRight {
    background-color: #f2eee4;
    border-radius: 6px;
    margin: 0;
    padding: 25px;
}
.listingInfo .details, .hours {
    margin: 30px 0 0;
}
.listingInfo .location{
    margin: 10px 0 0;
  }
.interiorRight .interiorLeft, h3 {
    color: #579f9e;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom:10px;
}
.listingInfo .pre-outdoor-seating {
    background: rgba(0, 0, 0, 0) url("images/outdoor_icon.png") no-repeat scroll 0 0;
}
.listingInfo .icon {
    display: block;
    height: 32px;
}

.interiorLeft {
    background-color: #f2eee4;
    border-radius: 6px;
    margin: 0 0px 0 0;
    padding: 20px;
}
.ListingWidgets {
    margin: 20px 0;
}
 .contentFulltext p{
    clear: left;
    line-height: 1.7em;
   margin:10px 0px;
}
.button-bg {
    bottom: 56px;
    display: block;
    float: right;
    position: relative;
}
.jrHeading{margin:20px 0px; clear: both;}

/******* Rating Box *****/
#rating_box ul li{
 display: block;
 float: left;
 height: 24px;
}
#rating_box ul li input{
  display: none;
}
#rating_box ul {
  background-image: url('images/stars_map.png');
  background-repeat: no-repeat;
  background-position: -2px -513px;  
}
#rating_box ul li label{
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 2px;
  cursor: pointer;
}
